{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Email Update
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col text-center">
            <h3>Email Update</h3>
        </div>
    </div>

    <form method="post">
        {% csrf_token %}

        <div class="row justify-content-md-center mt-3">
            <div class="col-md-auto">
                <div class="row">
                    <div class="col">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>

                <div class="row justify-content-md-center mt-3">
                    <div class="col-md-auto">
                        <button type="submit" class="btn btn-primary">Update your email</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}