{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Password reset complete
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col text-center">
            <h3>Password reset complete!</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col text-center">
            <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
        </div>
    </div>
</div>
{% endblock %}