{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Enter new password
{% endblock %}

{% block content %}
<div class="container">
    {% if validlink %}
        <div class="row mt-5">
            <div class="col text-center">
                <h3>Set a new password!</h3>
            </div>
        </div>

        <form method="post">
            {% csrf_token %}

            <div class="row justify-content-md-center mt-3">
                <div class="col-md-auto">
                    <div class="row">
                        <div class="col">
                            {{ form|crispy }}
                        </div>
                    </div>

                    <div class="row justify-content-md-center mt-3">
                        <div class="col-md-auto">
                            <button type="submit" class="btn btn-primary">Change my password</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% else %}
        <div class="row mt-5">
            <div class="col text-center">
                <h3>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</h3>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}