<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}
<div class="container-fluid">

  <br>
  <h3 class="text-center">Set a new password!</h3>
  <br>

  <form method="post">
    {% csrf_token %}

    <div class="row justify-content-md-center">
      <div class="col-md-auto">

        <div class="row">
          <div class="col-sm">
            {{ form|crispy }}
          </div>
        </div>
  
        <br>

        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <button type="submit" class="btn btn-primary">Change my password</button>
          </div>
        </div>

      </div>
    </div>

  </form>

</div>

{% else %}

<br>
<h3 class="text-center">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</h3>
<br>

{% endif %}
{% endblock %}
