<!-- templates/registration/signup.html -->
{% extends 'base.html' %}

{% block title %}All Event{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

<div class="container">

    <br>
    <h3 class="text-center">All Events</h3>
    <br>

    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>Sign Up / Withdraw</th>
                <th>Title</th>
                <th>Date</th>
                <th>Amount of Participants</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
            {% for item in all_active_events %}
            <tr>
                <td>
                    {% if request.user.id != item.user_participant %}
                    <a href="{% url 'eventsubscriptionview' item.id %}" class="btn btn-primary"><i class="fas fa-user-plus" style="color: white;"></i></a>
                    {% else %}
                    <a href="{% url 'eventunsubscriptionview' item.subscription_id %}" class="btn btn-danger"><i class="fas fa-user-minus" style="color: white;"></i></a>
                    {% endif %}
                </td>
                <td>{{ item.title }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.amount_of_participants }}</td>
                <td>{{ item.owner }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script>
		
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );

</script>
{% endblock %}