{% extends 'base.html' %}

{% block title %}
    Withdraw Event
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5 justify-content-md-center">
        <div class="col-md-auto">

            <h3 class="text-center">Withdraw Event: {{ object }}</h3>

            <form method="post">
                {% csrf_token %}

                <div class="row justify-content-md-center mt-3">
                    <div class="col-md-auto">

                        <p>Are you sure you want to Withdraw from the event "{{ object }}"?</p>
                    
                        <div class="row justify-content-md-center mt-3">
                            <div class="col-md-auto">
                                <button type="submit" class="btn btn-danger">Withdraw</button>
                                <a href="{% url 'alleventslist' %}" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>

                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
{% endblock %}