<!-- templates/registration/signup.html -->
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Sign Up Event{% endblock %}

{% block content %}
<div class="container-fluid">

  <br>
  <h3 class="text-center">Sign Up Event: {{ title }}</h3>
  <br>

  <form method="post">
    {% csrf_token %}

    <div class="row justify-content-md-center">
      <div class="col-md-auto">

        <br>
        <p>Do you want to participate in the event "{{ title }}"?</p>
        <br>
        
        <input type="hidden" name="subscribed_user" value="{{ logged_user }}">
        <input type="hidden" name="subscribed_event" value="{{ event_id }}">
    
        <br>

        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <button type="submit" class="btn btn-primary">Subscribe</button>
            <a href="{% url 'alleventslistview' %}" class="btn btn-danger">Cancel</a>
          </div>
        </div>

      </div>
    </div>

  </form>

</div>
{% endblock %}